<footer>
  <div>
    <a href="/">
      <%= app %>
    </a>
  </div>

  <div>
    <p>
      Developed by <a href=<%= contact %>>me</a>.
    </p>
    <p>
      &copy; 2025. All rights reserved.
    </p>
  </div>
</footer>