<footer class="navbar navbar-light bg-light ps-3 pe-3" style="font-size: 0.75rem;">
  <div>
    <a class="navbar-brand me-0" href="/" style="font-weight: 400; font-size: 1rem;">
      <%= app %>
    </a>
  </div>


  <p class="mb-0">
    &copy; 2025. All rights reserved.
  </p>
  <p class="mb-0">
    Developed by <a href=<%= contact %>>me</a>.
  </p>
</footer>