<header class="navbar navbar-light bg-light ps-3 pe-3">
  <h1>
    <a class=" navbar-brand" <%= app %> href=" /">
      <%= app %>
    </a>
  </h1>

  <% if (session.userId) { %>
  <a class="btn btn-outline-secondary btn-sm" href="/auth/logout">Logout</a>
  <% } else { %>
  <div>
    <a class="btn btn-outline-secondary btn-sm" href="/auth/login">Login</a>
    <a class="btn btn-outline-secondary btn-sm" href="/auth/signup">Signup</a>
  </div>
  <% } %>

</header>