<header>
  <h1>
    <a href="/">
      <%= app %>
    </a>
  </h1>

  <% if (session.userId) { %>
  <a href="/auth/logout">Logout</a>
  <% } else { %>
  <a href="/auth/login">Login</a>
  <a href="/auth/signup">Signup</a>
  <% } %>

</header>