<h2 class="mb-4">Create an account</h2>

<form method="POST" class="border border-secondary rounded p-2" style="--bs-border-opacity: .5;">
  <div class="d-flex justify-content-center align-items-center mb-3 gap-2">
    <label for="email" class="form-label mb-0">Email</label>
    <input type="email" id="email" name="email" value="<%= email %>" placeholder="Enter your email" class="form-control">
  </div>

  <div class="d-flex justify-content-center align-items-center mb-3 gap-2">
    <label for="password" class="form-label mb-0">Password</label>
    <input type="password" id="password" name="password" placeholder="Enter your password" class="form-control">
  </div>

  <div class="d-flex justify-content-center align-items-center mb-3 gap-2">
    <label for="passwordConfirmation" class="form-label mb-0">Confirm</label>
    <input type="password" id="passwordConfirmation" name="passwordConfirmation" placeholder="Confirm your password" class="form-control">
  </div>

  <div class="d-flex justify-content-end align-items-center gap-2">
    <% if(error) { %>
    <div class="alert alert-danger flex-grow-1 text-center m-0 ps-2 pe-2 pt-1 pb-1" role="alert" style="font-size: 0.8rem;">
      <%= error %>
    </div>
    <% } %>
    <button type="submit" class="btn btn-primary btn-sm">Login</button>
  </div>
</form>